/* default */
*,
*::before,
*::after { box-sizing: border-box; }

body {
   margin: 0;
   font-family: 'Roboto', sans-serif;
   font-size: 1.3rem;
}

a { text-decoration: none; }

img { max-width: 100%; }

/* typography */
h1 {
   font-family: 'Playfair', serif;
   font-weight: 800;
   font-size: 3.75rem;
   color: #824936;
}

.hero__text {
   font-weight: 300;
   font-size: 1.125rem;
}

/* utilities */
.container {
   max-width: 1128px;
   margin: 0 auto;
}

.row { display: flex; }

.col { flex-direction: column; }

.center--text { text-align: center; }

/* sections */
header {
   background-color: #F3EED9;
   min-height: 660px;
}

header h1, 
header p { margin: .225rem 0; 
}

